@font-face {
	font-family: MRKGPEN;
	src: url(MRKGPEN.TTF);
}
.userSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.main {
	overflow: hidden;
}
.varResult {
	padding: 5px 0px 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #000;
	text-align: left;
}
.subButton{
       width: 172px !important;
    font-size: 9px !important;
}
.posAbso{
	position:absolute;
}
#popupMsg{
  position: absolute;
  left: 7px;
  top: 18px;
  font-size: 1.7em;
  font-family: MRKGPEN;
  width: 114px;
  text-align: center;
}
#rightVal{
	padding-left:2px;
}
#sliderspan{
	padding-left:51px;
}
#rightmaxvals2{
	padding-left:119px;
}
#rightmaxvals{
	padding-left:126px;
}
#rightmaxvals1{
	padding-left:112px;
}
#bridgeA_lbl_max{
	padding-left:129px;
}
#bridgeB_lbl_max{
	padding-left:129px;
}
#bg{
	left:0;
	top:0;
}
#bridgeA{
	position:absolute;
	left:96px;
	top:162px;
}
#bridgeB{
	position:absolute;
	left:467px;
	top:162px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}
#paperSmall{
	position:absolute;
	left:276px;
	top:163px;
}
#tFork{
	position:absolute;
	left:155px;
	top:55px;
}
#waveFrameLft{
	position:absolute;
	left:-26px;
	top:-11px;
	width:25px;
	height:25px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	overflow:hidden;
}
#forkWavesLft{
	position:absolute;
	left:2px;
	top:-22px;
	display:none;
}
#waveFrameRgt{
	position:absolute;
	left:15px;
	top:-11px;
	width:25px;
	height:25px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	overflow:hidden;
}
#forkWavesRgt{
	position:absolute;
	left:-22px;
	top:2px;
	display:none;
}

#wire{
	position:absolute;
	left:100px;
	top:165px;
	width:418px;
	height:.5px;
	background-color:#ce6f59;
}
#wireInWeight{
	position:absolute;
	left:522px;
	top:172px;
	width:1px;
	height:44px;
	background-color:#ce6f59;
}
#hangWeight{
	position:absolute;
	left:514px;
	top:213px;
}
.weight{
	position:absolute;
	left:514px;
	display:none;
}
#weight_10{;
	top:233px;
}
#weight_15{
	top:236px;
}
#weight_20{
	top:239px;
}
#weight_25{
	top:242px;
}
#weight_30{
	top:245px;
}
#weight_35{
	top:248px;
}
#weight_40{
	top:251px;
}
#weight_45{
	top:254px;
}
#weight_50{
	top:257px;
}
#roundZoom{
	position:absolute;
	left:316px;
	top:2px;
}
#bridgeAzoom{
	position:absolute;
	left:41px;
	top:244px;
	width:214px;
	height:84px;
	border: solid 3px #FFFFFF;
	border-radius:6px;
	overflow:hidden;
	background-color: #BE892A;
}
#bridgeBzoom{
	position:absolute;
	left:286px;
	top:244px;
	width:214px;
	height:84px;
	border: solid 3px #FFFFFF;
	border-radius:6px;
	overflow:hidden;
	background-color: #BE892A;
}
#scaleA{
	position:absolute;
	left:-39px;
	top:-40px;
}
#scaleB{
	position:absolute;
	left:-3839px;
	top:-40px;
}
#zoomBridgeA{
	position:absolute;
	left:1px;
	top:64px;
}
#zoomBridgeB{
	position:absolute;
	left:200px;
	top:64px;
}
#zoomView{
	position:absolute;
	left:342px;
	top:2px;
	width:153px;
	height:149px;
	border: solid 3px #796B4A;
	border-radius:78px;
	overflow:hidden;
}
#zoomWire{
	position:absolute;
	left:0px;
	top:75px;
	width:154px;
	height:2px;
	background-color:#ce6f59;
}
#zoomCanvas{
	position:absolute;
	left:-5px;
	top:-1px;
}
#sonometerPortion{
	position:absolute;
	left:500px;
	top:164px;
}
#popup{
	position:absolute;
	left:280px;
	top:87px;
	display: none;
}
#bridgeB_ctrl_val{
	margin-left: -11px;
}
#bridgeA_ctrl_val{
	margin-left: -9px;
}